@model MyFinance.Models.SankeyDataModel
@using System.Text.Json

@{
    ViewData["Title"] = "Finančný prehľad";
    var sankeyJson = JsonSerializer.Serialize(Model);
}

<div class="text-center">
    <h1 class="display-4">Finančný tok</h1>
    <div id="sankeyDiagram"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var sankeyData = @Html.Raw(@sankeyJson);

    var data = {
        type: "sankey",
        orientation: "h",
        node: {
            pad: 15,
            thickness: 30,
            line: { color: "black", width: 0.5 },
            label: sankeyData.NodeLabels,
            color: sankeyData.NodeColors
        },
        link: {
            source: sankeyData.LinkSource,
            target: sankeyData.LinkTarget,
            value: sankeyData.LinkValue
        }
    };

    var layout = {
        title: "Finančný prehľad: Príjmy → Výdavky",
        font: { size: 12 }
    };

    Plotly.react('sankeyDiagram', [data], layout);
</script>
